html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: table;
}

.svg-wrapper {
  width: 33.3%;
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
}

path {
  fill: #fff;
  transition: fill .7s ease;
}
